.cardProducto {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 14px;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu';
    text-align: center;
    * {
        flex-grow: 1;
    }
}

h3 {
    font-family: 'Collingar';
}

.cardProducto:hover {
    box-shadow: 3px 3px var(--celestebandera);
}

.cardProducto img {
    width: 150px;
    max-height: 150px;
}

.cardNombre {
    font-size: 1.4rem;
}

.prodDato {
    font-family: 'Ubuntu';
    font-weight: bolder;
}

.verDetalles {
    font-family: 'Collingar';
    background-color: var(--cardBisque);
    color: var(--azulletras);
    font-size: 1.2rem;
    padding: 3%;
    border-radius: 10px;
}

.verDetalles a:hover {
    color: var(--azulletras);
    text-decoration: underline 1.5px #8b171a;
    ;
}