.divCarritoVacio {
    background-color: var(--cardBisque);
    color: var(--azulletras);
    font-size: 2rem;
    font-family: 'Collingar';
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.divCarritoVacio p {
    font-size: 2.5rem;
}

.divCarritoLleno {
    background-color: var(--cardBisque);
    color: var(--azulletras);
    font-size: 1.5rem;
    font-family: 'Collingar';
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 1.5rem;
    padding: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.verProductos {
    font-size: 1.5 rem;
    padding: 1%;
    font-family: 'Collingar';
    border-radius: 10px;
}

.divBtnsCarrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.btnCarrito {
    font-size: 1.5rem;
    padding: 1%;
    background-color: var(--azulnegocio);
    color: #fff;
    border-radius: 10px;
}

.btnCarrito a:visited {
    color: #fff;
}

.verProductos {
    font-family: 'Collingar';
    background-color: var(--cardBisque);
    color: var(--azulletras);
    font-size: 1.2rem;
    padding: 1%;
    border-radius: 10px;
    border: solid var(--azulnegocio);
}

.divCarritoItems {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cardBisque);
    color: var(--azulletras);
    font-size: 2rem;
    font-family: 'Collingar';
    text-align: center;
    margin: 3rem;
    flex-direction: column;
}