.divCarritoVacio {
    background-color: var(--cardBisque);
    color: var(--azulletras);
    font-size: 2rem;
    font-family: 'Collingar';
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 3rem;
    display: flex;
    flex-direction: column;
}
.divCarritoLleno {
    background-color: var(--cardBisque);
    color: var(--azulletras);
    font-size: 2rem;
    font-family: 'Collingar';
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 3rem;
    display: flex;
    flex-direction: column;
}

.verProductos {
    font-size: 1.5 rem;
    padding: 1%;
    font-family: 'Collingar';
    border-radius: 10px;
}