@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Roboto:wght@100&family=Sen&family=Ubuntu:wght@300&display=swap");
@font-face {
    font-family: Collingar;
    src: url(/fonts/Collingardemo.otf);
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azulnegocio: #141951;
    --azulletras: #161952;
    --celestebandera: #75AADb;
    --colorrojizo: #8b171a;
    --cardBisque: #dbc3b3;
}
