#divFormulario {
    margin: 4%;
    font-family: 'ubuntu';
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f7e9e0;
    border-radius: 10px;
    border: solid var(--azulnegocio) 2px;
}

#tituloFormulario {
    margin: 1%;
}

.divsItemCompra {
    border: 1px solid #000;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;

    * {
        margin: .5rem;
    }
}

input {
    margin: 2%;
}

label {
    margin: 2%;
}

#formCheckout {
    margin: 1%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#divFormulario input {
    font-size: 1.5rem;
}

#divBtnForm {
    display: flex;
    flex-wrap: wrap column;
}

.btnForm {
    background-color: var(--azulnegocio);
    color: #fff;
    margin: 3%;
    border-radius: 10px;
    padding: 3%;
    font-size: 1.5rem;
}

.divError {
    border: var(--colorrojizovino) solid 5px;
    background-color: var(--colorrojizovino);
    color: #fff;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 1%;
}

.agradecimientoCompra {
    border: var(--colorrojizovino) solid 5px;
    background-color: var(--azulnegocio);
    font-family: 'collingar';
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 1%;
}