#divFormulario {
    margin: 4%;
    font-family: 'ubuntu';
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f7e9e0;
    border-radius: 10px;
    border: solid var(--azulnegocio) 2px;
}

#tituloFormulario {
    margin: 1%;
}

input {
    margin: 2%;
}

label {
    margin: 2%;
}

#formCheckout {
    margin: 1%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#divFormulario input {
    font-size: 1.5rem;
}

#divBtnForm {
    display: flex;
    flex-wrap: wrap column;
}

.btnForm {
    background-color: var(--azulnegocio);
    color: #fff;
    margin: 3%;
    border-radius: 30%;
    padding: 3%;
    font-size: 1.5rem;
}